<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tx200">
  <xacro:property name="shoulder_joint_upper_limit" value="${radians(180)}" />
  <xacro:property name="shoulder_joint_lower_limit" value="${radians(-180)}" />

  <xacro:property name="arm_joint_upper_limit" value="${radians(130)}" />
  <xacro:property name="arm_joint_lower_limit" value="${radians(-60)}" />

  <xacro:property name="elbow_joint_upper_limit" value="${radians(180)}" />
  <xacro:property name="elbow_joint_lower_limit" value="${radians(-60)}" />

  <xacro:property name="forearm_joint_upper_limit" value="${radians(180)}" />
  <xacro:property name="forearm_joint_lower_limit" value="${radians(-180)}" />

  <xacro:property name="wrist_joint_upper_limit" value="${radians(110)}" />
  <xacro:property name="wrist_joint_lower_limit" value="${radians(-110)}" />
</robot>