<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tx200">

  <xacro:include filename="$(find robot-arm)/urdf/common.xacro" />
  <xacro:include filename="$(find robot-arm)/urdf/tx200/tx200_gazebo.xacro" />
  <xacro:include filename="$(find robot-arm)/urdf/tx200/tx200_macro.xacro" />
  <xacro:include filename="$(find robot-arm)/urdf/tx200/tx200_macro.ros2_control.xacro" />

</robot>